.timer-container {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #df76d6;
    border-radius: 20px;
    box-shadow: 0 4px 3px rgb(134, 46, 75);    
    max-width: 500px;
    padding: 20px;
    margin: auto;
    align-items: center;
    height: 600px;
}

.timer-container div {
    padding: 50px;
    margin: 10px;
}

.count {
    background-color: white;
    border-radius: 20px;
    font-size: 50px;
}

.buttons {
    padding: 5px 10px;
    background-color: #e885e7;
    color: #fff;
    border-radius: 5px;
    font-size: px;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}